# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on pull requests that have been closed for the "main" branch
  pull_request:
    branches: [ "main" ]
    types:
      - closed

# Create variables the flow can use
env:
  DOT_MODEL_DIRPATH: ".model"
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # Ensures we are only running when merge has occurred
  build:
    if: github.event.pull_request.merged == true
    
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # create a docker container using ubuntu 18.04 base from Docker Hub
    container: 
      image: ubuntu:18.04
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      
      - name: Install Python 3.8
      - run: |
          sudo add-apt-repository ppa:deadsnakes/ppa
          sudo apt-get install python3.8 python3.8-venv
      shell: bash

      # Runs the setup script
      - name: Run setup.sh
        run: |
          chmod +x ./setup.sh
          bash setup.sh
        shell: bash

      # Uploads the pickle file
      - name: upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: pickle file
          path: |
            $DOT_MODEL_DIRPATH
            model.pckl
